<form n:name="form" class="ig-form ajax">
    <div class="ig-input-wrapper">
        <input n:name="content" class="ig-input" placeholder="Napište zprávu..." autocomplete="off">
        <button n:name="send" class="ig-send-btn">Odeslat</button>
    </div>
</form>